﻿<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Dashboard demo
                </h1>
            </hgroup>
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">
        <div data-remote="/api/values/getnumberofdays/1" data-datatype="json" data-target="#NumberOfDaysValues1">Data 1: <span id="NumberOfDaysValues1"></span></div>
        <div data-remote="/api/values/getnumberofdays/2" data-datatype="json" data-target="#NumberOfDaysValues2">Data 2: <span id="NumberOfDaysValues2"></span></div>
        <div data-remote="/api/values/getnumberofdays/3" data-datatype="json" data-target="#NumberOfDaysValues3">Data 3: <span id="NumberOfDaysValues3"></span></div>
        <div data-remote="/api/values/getnumberofdays/4" data-datatype="json" data-target="#NumberOfDaysValues4">Data 4: <span id="NumberOfDaysValues4"></span></div>
        
        <h1 data-remote="/api/values/getnumberofdays/1" data-datatype="json" data-target="#titleValue"><span id="titleValue"></span></h1>
    
        <div data-remote="@Url.Action("widget")" data-target="#widget">Widget 1:<span id="widget"></span></div>
        <div data-remote="@Url.Action("widget")" data-target="#widget2">Widget 2:<span id="widget2"></span></div>
    </section>
</div>
